html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    cursor: default;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1E1E1E;
    padding: 20px 0;
    z-index: 100;
}

.header-content {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.title {
    color: #FF4500; 
    max-width: 140px;
    max-height: 120px;
    margin-left: 20px; 
    cursor: pointer;
}

.navbar-toggle {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px; 
}

.navbar-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #E0E0E0; 
    margin: 3px 0;
}

nav {
    flex: 1; 
    display: flex; 
    justify-content: center;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #E0E0E0;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

nav ul li a.active {
    color: #FF4500;
}

/* Dropdown Styles */
nav.show-nav {
    display: flex; 
    flex-direction: column; 
    position: absolute; 
    background-color: #1E1E1E; 
    top: 60px; 
    right: 0; 
    width: auto;
    z-index: 99; 
}

nav.show-nav ul {
    display: flex; 
    flex-direction: column; 
    width: auto;
}

nav.show-nav ul li {
    margin: 10px 0; 
    text-align: center; 
}

.social-icons {
    display: flex;
    margin-right: 20px; 
}

#linkedin, #github, #leetcode {
    width: 30px;
    height: 30px;
    margin-left: 10px; 
}

section {
    background-color: #121212;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 10);
    padding: 80px 20px;
    margin-top: 20px;
}

#home {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    width: 100vw;
    margin-top: 20px;
    flex: 1;
}

.home-div1 {
    flex: 1; 
    padding-left: 100px; 
    text-align: left; 
}

.home-div1 h1 {
    font-size: 2.5rem; 
    padding: 8px;
    color: #E0E0E0;
}

.highlight {
    color: #FF4500;
    font-size: 2.5rem; 
}

.home-div1 p {
    padding-top: 30px;
    color: #B0B0B0;
}

.home-div2 {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;  
}

#myPhoto {
    width: 380px;
    height: 450px;
    border-radius: 25%;
    object-fit: cover;
    margin-right: 100px; 
}

/* Mobile Styles */
@media (max-width: 860px) {
    header .social-icons {
        display: none; 
    }

    nav {
        display: none; 
    }

    .navbar-toggle {
        display: flex; 
    }

    .header-content {
        justify-content: space-between; 
    }


    #home {
        flex-direction: column; 
        align-items: center; 
        width: 100vw;
        height: 100vh;
        flex: 1;
    }

    .home-div1 {
        padding-left: 0; 
        padding-bottom: 20px; 
        text-align: center; 
    }

    #myPhoto {
        width: 80%; 
        max-width: 300px; 
        height: auto; 
        margin-right: 0; 
    }

    .home-div1 h1 {
        font-size: 2rem; 
    }

    .highlight {
        font-size: 2rem; 
    }
}
